
/*General Settings*/
@font-face {
    font-family: "open-dyslexic";
    src: url(/font/OpenDyslexic-Regular.otf) format(opentype);
}
:root {
    --color1: #3f3ff8;
    --color2: #FF6819;
    --color3: #0000ff;
    --colorbg: #d3d3d344;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.open-dyslexic {
    font-family: "open-dyslexic";
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colorbg); 
}
abbr {
    text-decoration: none;
}

/*Header Settings*/
header {
    margin: auto;
    padding: auto;
    width: 100%;
    background-color: none;
    border-radius: 7px;
}
.header-index {
    height: 30vh;
    padding: 0;
    margin-bottom: 20px;
    background-color: none;
}
.div-header-index {
    border-radius: 10px;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    background-image: url(/image/banner-1-1600x300.jpg);
}
.div-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#bt-font, #bt-font-index{
    font-family: "open-dyslexic";
    background-color: var(--color1);
    cursor: pointer;
    border: none;
    min-width: 8em;
    min-height: 2em;
    color: white;
    border-radius: 0px;
    box-shadow: 3px 3px rgb(0, 0, 0);
    display: inline-block;
}
.bt-font-index {
    display: inline-block;
}
#bt-font:hover, #bt-font-index:hover{
    background-color: var(--color2);
    color: rgb(255, 255, 255);
    box-shadow: none;
    top: 5px;
    position: relative;
    transition-duration: 500ms;
}

h1 {
    margin: auto;
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-size: 2.5em;
    padding-bottom: 5px;
}
h1 > span {
    color: var(--color2);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: white;
}
li {
    border: none;
    width: 130px;
    height: fit-content;
    color: white;
    background-color: var(--color1);
    border-radius: 0px;
    padding: 8px;
    margin: 4px 12px 15px 12px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px rgb(0, 0, 0);
    display: inline-block;
}
ul > li:hover{
    background-color: var(--color2);
    box-shadow: none;
    transition-duration: 200ms;
    position: relative;
    top: 5px;
    text-decoration:underline;
}

/*Main content settings*/
main {
    width: fit-content;
    min-height: fit-content;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.240);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.380);
    background-color: white;
    
}
main > p {
    text-align: justify;
}
.txt-link {
    color: rgb(72, 72, 252); cursor: pointer;
}
.txt-link:hover {
    text-decoration: underline;
}
.flex-container {
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
#div-content {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.span-output {
    display: inline-block;
    position: relative;
    margin: 1px;
    width: 186px;
    border: 1px solid rgb(209, 207, 207);
    padding: 1px;
    border-radius: 2px;
}
input {
    border: 1px solid rgba(128, 128, 128, 0.447);
    border-radius: 2px;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: [grid-item-1] 1fr [grid-item-2] 2fr;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    width: max-content;
}
.grid-item {
    text-align: start;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: rgba(0, 0, 0, 0.395);
    color: white;
    text-align: center;
}
footer > p {
    padding: 1.5px;
}
.link-footer:hover{
    color: blue;
}



